@media (min-width: 900px) and (max-width: 1900px) {
    @font-face {
        font-family: gilroy-bold;
        src: url(../FONTS/Gilroy-ExtraBold.woff2);
    }

    .crsr {
        height: 20px;
        width: 20px;
        background: linear-gradient(#000, #fff, grey);
        z-index: 99;
        position: fixed;
        border-radius: 50%;
        transition-property: all;
        transition-duration: 0.1s;
        transition-delay: 0.000099s;
    }
    
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    *::selection {
        background-color: #000;
        color: #fff;
        font-weight: 900;
    }
    
    html,
    body {
        width: 100%;
        height: 100%;
    }
    
    nav {
        /* background-color: red; */
        width: 100%;
        height: 11vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #0000000d;
        font-size: 1.25vw;
        position: relative;
        z-index: 99;
        color: #000;
    }
    
    nav #logo {
        position: relative;
        width: 5vw;
        height: 100%;
        padding: 10px 7px;
    }
    
    nav a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: .9vw;
        color: #000;
    }
    
    nav a i {
        border: 1px solid #313131;
        font-size: 1vw;
        font-weight: 900;
        color: #000;
    }
    
    
    .search input {
        color: #000;
        font-size: 15px;
        font-weight: 600;
        font-family: Mooli;
    }
    
    .search i {
        border: none;
        color: #000;
        font-weight: 900;
        font-size: 1.5vw;
    }
    
    #last {
        margin-right: 20px;
    }
    
    #envi_head {
        font-family: gilroy-bold;
        color: rgba(0, 0, 0, 0.597);
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        font-size: 57px;
    }
    
    .environment {
        width: 100%;
        height: 100vh;
    }
    
    .environment #environmnet_heading {
        text-align: center;
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 21px;
        position: relative;
        margin-bottom: 10px;
    
    }
    
    .environment #center {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 420px;
        height: 230px;
        margin-bottom: 10px;
    }
    
    .left {
        width: 20%;
        height: 500px;
        position: relative;
        bottom: 65.5%;
        text-align: left;
        left: 7%;
    }
    
    .environment .left #left {
        position: relative;
        margin-bottom: 10px;
    }
    
    .environment .left p {
        text-align: left;
        margin-bottom: 15px;
        font-family: mooli;
    }
    
    .right {
        width: 20%;
        height: 500px;
        position: relative;
        bottom: 35%;
        text-align: left;
        left: 75%;
        bottom: 135.5%;
    }
    
    .environment .middle #exp_en button {
        text-decoration: none;
        font-size: 21px;
        text-align: center;
        position: relative;
        left: 170px;
        border-radius: 50px;
        width: 190px;
        height: 41px;
        cursor: pointer;
    }
    
    .environment .right #right {
        position: relative;
        margin-bottom: 10px;
    }
    
    .environment .right p {
        text-align: left;
        margin-bottom: 15px;
        font-family: mooli;
    }
    
    .environment .right #our_env {
        width: 263px;
        height: 199px;
    }
    
    .middle {
        width: 35%;
        height: 500px;
        position: relative;
        text-align: left;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .environment .middle p {
        text-align: left;
        margin-bottom: 15px;
        font-family: mooli;
        height: 150px;
        width: 100%;
    }
    
    .environment .middle #midd {
        position: relative;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .environment h1 {
        text-align: center;
        font-size: 28.9px;
        font-family: Rubik ExtraBold;
    }
    
    .environment #environmnet_heading {
        text-decoration: underline;
    }
    
    /* Water Conservation Part */
    
    .wconserve {
        width: 100%;
        height: 100vh;
    }
    
    .wconserve #wconserve_heading {
        text-align: center;
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 21px;
        position: relative;
        margin-bottom: 10px;
    
    }
    
    .wconserve #wcenter {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 420px;
        height: 230px;
        margin-bottom: 10px;
    }
    
    .wleft {
        width: 20%;
        height: 500px;
        position: relative;
        bottom: 65.5%;
        text-align: left;
        left: 7%;
    }
    
    .wconserve .wleft #wlleft {
        position: relative;
        margin-bottom: 10px;
    }
    
    .wconserve #wp_save_env {
        text-align: left;
        margin-bottom: 15px;
        font-family: mooli;
    }
    
    .wright {
        width: 20%;
        height: 500px;
        position: relative;
        bottom: 35%;
        text-align: left;
        left: 75%;
        bottom: 137.5%;
    }
    
    .wconserve .wright #wrright {
        position: relative;
        margin-bottom: 10px;
    }
    
    .wconserve .wright #wp_save_wtr_r {
        text-align: left;
        margin-bottom: 15px;
        font-family: mooli;
    }
    
    .wconserve .right #our_env {
        width: 263px;
        height: 199px;
    }
    
    .wmiddle {
        width: 35%;
        height: 500px;
        position: relative;
        text-align: left;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .wconserve .wmiddle p {
        text-align: left;
        margin-bottom: 15px;
        font-family: mooli;
        height: 150px;
        width: 100%;
    }
    
    .wconserve .middle #midd {
        position: relative;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .wconserve .wmiddle #wmidd {
        text-align: center;
        font-size: 30px;
        font-family: Rubik ExtraBold;
    }
    
    .wconserve h1 {
        text-align: center;
        font-size: 30px;
        font-family: Rubik ExtraBold;
    }
    
    .wconserve #wconserve_heading {
        text-decoration: underline;
        margin-bottom: 30px;
    }
    
    .wconserve .wmiddle a button {
        text-decoration: none;
        font-size: 21px;
        text-align: center;
        position: relative;
        left: 170px;
        border-radius: 50px;
        width: 190px;
        height: 41px;
        cursor: pointer;
        margin-top: 10px;
    }
    
    /* Global Warming */
    
    .gb_warming {
        width: 100%;
        height: 100vh;
    }
    
    .gb_warming #gb_warming_heading {
        text-align: center;
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 21px;
        position: relative;
        margin-bottom: 10px;
    
    }
    
    .gb_warming .gb_middle {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 420px;
        height: 230px;
        margin-bottom: 10px;
    }
    
    .gb_warming .gb_middle #gb_center {
        width: 430px;
        height: 230px;
    }
    
    .gb_left {
        width: 20%;
        height: 500px;
        position: relative;
        text-align: left;
        left: 7%;
        bottom: 22%;
    }
    
    .gb_warming .gb_left #gb_lleft {
        position: relative;
        margin-bottom: 10px;
    }
    
    .gb_warming #gb_save_air {
        text-align: left;
        margin-bottom: 15px;
        font-family: mooli;
    }
    
    .gb_right {
        width: 20%;
        height: 500px;
        position: relative;
        text-align: left;
        left: 75%;
        bottom: 105%;
    }
    
    .gb_warming .gb_right #gb_rright {
        position: relative;
        margin-bottom: 10px;
    }
    
    .gb_warming .gb_right #gb_save_air_r {
        text-align: left;
        margin-bottom: 15px;
        font-family: mooli;
    }
    
    .gb_warming .gb_right #our_air {
        width: 263px;
        height: 199px;
    }
    
    .gb_middle {
        width: 35%;
        height: 500px;
        position: relative;
        text-align: left;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .gb_warming .gb_middle p {
        text-align: left;
        margin-bottom: 15px;
        font-family: mooli;
        height: 150px;
        width: 100%;
    }
    
    .gb_warming .gb_middle #gb_midd {
        position: relative;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .gb_warming .gb_middle #gb_midd {
        text-align: center;
        font-size: 30px;
        font-family: Rubik ExtraBold;
    }
    
    .gb_warming h1 {
        text-align: center;
        font-size: 30px;
        font-family: Rubik ExtraBold;
    }
    
    .gb_warming #gb_warming_heading {
        text-decoration: underline;
        margin-bottom: 30px;
    }
    
    .gb_warming .gb_middle a button {
        text-decoration: none;
        font-size: 21px;
        text-align: center;
        position: relative;
        left: 170px;
        border-radius: 50px;
        width: 190px;
        height: 41px;
        cursor: pointer;
        margin-top: 10px;
    }

    .mobile {
        display: none;
    }
}

@media (max-width: 600px) {
    .pc {
        display: none;
    }

    .crsr {
        display: none;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    *::selection {
        background-color: #000;
        color: #fff;
        font-weight: 900;
    }
    
    html,
    body {
        width: 100%;
        height: 100%;
    }

    nav {
        width: 100%;
        height: 90px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(50, 50, 50, 0.51);
    }

    nav .name {
        /* background-color: cyan; */
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 5vw;
    }

    nav .name #logo_m {
        width: 40%;
        height: 100%;
        padding: 20px 20px;
    }

    nav .name #heading {
        font-size: 4.5vw;
        color: #fff;
        font-weight: 600;
        letter-spacing: 2.5px;
        font-family: Lobster;
    }

    nav .menu {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 32px 2px;
    }

    nav .menu i {
        color: #fff;
        font-weight: 700;
        font-size: 5vw;
        position: relative;
        right: 2.5vw;
        z-index: 99;
    }

    nav .menu #close {
        color: #fff;
        font-weight: 700;
        font-size: 5vw;
        position: relative;
        right: 2.5vw;
        display: none;
        z-index: 99;
    }

    nav .profile {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 22px;
    }

    nav .profile img {
        width: 100%;
        height: 100%;
    }

    .mobile .menu .silding_menu {
        position: absolute;
        width: 50vw;
        height: 100vh;
        left: 0;
        top: 0;
        z-index: 1;
        background-color: #000;
        padding: 50px 30px;
        line-height: 25px;
        display: none;
        transition-duration: 1s;
        transition-property: all;
        font-size: 5vw;
        font-family: Merriweather;
        font-weight: 500;
    }

    .mobile nav .menu .silding_menu ul li a {
        color: #fff;
        text-decoration: none;
    }

    .mobile .content {
        width: 100%;
        min-height: 100vh;
        background-color: #ececec;
    }

    .mobile .content .heading {
        width: 100%;
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mobile .content .heading #explore_m {
        font-size: 10vw;
        font-family: gilroy;
    }

    .mobile .content .heading #and {
        font-size: 7vw;
        font-family: lobster;
    }

    .mobile .content .heading #learn_m {
        font-size: 7vw;
        font-family: Rubik ExtraBold;
    }
}