@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Young+Serif&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  ;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  margin: 40px auto;
}

.form {
  font-family: "Nunito", serif;
  padding: 20px;
}

.form h1 {
  text-align: center;
  color: #1a73e8;
  font-size: 2.5rem;
}

.form input {
  display: block;
  width: 80%;
  margin: 10px 20px;
  padding-left: 5px;
  border: none;
  border-radius: 5px;
  border: 2px solid #1a73e8;
  outline: none;
  font-family: "Nunito", serif;
  font-size: 1.125rem;
}

.form label {
  display: block;
  margin-left: 10%;
  color: #1a73e8;
  font-weight: bold;
}

.form .term {
  margin-left: -27%;
}

.form button {
  display: block;
  width: 80%;
  margin: 20px 20px;
  border: none;
  border-radius: 5px;
  background-color: #1a73e8;
  color: white;
  font-family: "Nunito", serif;
  font-size: 1.125rem;
  cursor: pointer;
}

.form button:hover {
  background-color: #4285f4;
}

.form a {
  display: block;
  text-align: left;
  color: #1a73e8;
  padding-left: 10%;
  text-decoration: none;
}

.form a span:hover {
  text-decoration: underline;
  color: red;
}

.image-container {
  width: calc(50% - (20px /2));
  height: auto;
  position: relative;

}

.image-container img {
  margin-top: 20px;
  width: 100%;

  height: auto;

  object-fit: cover;

}

/* Media Queries*/
@media screen and (max-width :768px) {
  .form-container {
    flex-direction: column;
  }

  .form button {
    padding-left: 20px;
  }

  .image-container {
    width: 100%;
  }
}