@font-face {
    font-family: Merriweather;
    src: url(../FONTS/Merriweather-Bold.woff2);
}

@font-face {
    font-family: gilroy;
    src: url(../FONTS/Gilroy-ExtraBold.woff2);
}

@font-face {
    font-family: Rubik ExtraBold;
    src: url(../FONTS/Rubik-ExtraBold.woff2);
}

@font-face {
    font-family: Nosifer;
    src: url(../FONTS/Nosifer-Regular.woff2);
}

@font-face {
    font-family: Lobster;
    src: url(../FONTS/Lobster-Regular.woff2);
}

@media (min-width : 1000px) and (max-width : 1600px) {
    .crsr {
        height: 20px;
        width: 20px;
        background: linear-gradient(#000, #fff, grey);
        z-index: 99;
        position: fixed;
        border-radius: 50%;
        transition-property: all;
        transition-duration: 0.1s;
        transition-delay: 0.000099s;
    }

    .pc .wrap {
        position: relative;
        width: 100%;
        height: 100%;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: #000;
        font-family: gilroy;
    }

    *::selection {
        background-color: #fff;
        color: #000;
    }

    *::-webkit-scrollbar {
        display: none;
    }

    html,
    body {
        width: 100%;
        height: 100%;
    }

    /* PC Version */

    video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: fixed;
    }


    nav {
        width: 100%;
        height: 11vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: #000; */
        font-size: 1.25vw;
        position: fixed;
        z-index: 99;
        color: white;
    }

    nav #logo {
        position: relative;
        width: 5vw;
        height: 100%;
        padding: 10px 7px;
    }

    nav a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: .9vw;
        color: white;
    }

    nav a i {
        border: 1px solid #313131;
        font-size: 1vw;
        font-weight: 900;
        color: white;
    }

    .search {
        width: 15vw;
    }

    .search input {
        color: rgb(56, 56, 56);
        font-size: 1vw;
        font-weight: 900;
    }

    .search i {
        border: none;
        color: white;
    }

    #last {
        margin-right: 20px;
    }

    #explorebtn:hover {
        scale: 1.01;
        background-color: rgb(4, 255, 42);
        font-weight: 900;
        font-family: Nosifer;
        font-size: 17px;
    }

    nav a:hover {
        /* border: 2px solid white; */
        padding: 10px 20px;
        scale: 1.2;
        font-family: Nosifer;
        color: rgba(255, 255, 255, 0.498);
        text-decoration: underline;
    }


    .main {
        position: relative;
        background-color: rgba(0, 0, 0, 0.257);
    }

    .hero {
        height: 100vh;
        width: 100%;
        /* position: relative; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 200px;
        margin-bottom: 15vh;
    }

    .hero h1 {
        font-size: 4vw;
        text-transform: uppercase;
        padding: 0 150px;
        position: relative;
        font-weight: 900;
        -webkit-text-stroke: 2px black;
        font-family: Rubik ExtraBold;
        color: white;
    }

    .hero h2 {
        font-size: 4vw;
        text-transform: uppercase;
        padding: 0 150px;
        position: relative;
        font-weight: 900;
        -webkit-text-stroke: 2px black;
        font-family: Rubik ExtraBold;
        color: white;
    }

    .hero a button i {
        color: black;
        font-weight: 800;
    }

    .hero p {
        font-size: 1.54vw;
        color: #ffffff;
        font-family: Merriweather;
    }

    .page1 {
        width: 100%;
        min-height: 110vh;
        color: white;
        max-height: 100%;
    }

    .page1 .top {
        height: 40%;
        width: 100%;
        /* background-color: cyan; */
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 20vh;
    }

    .page1 .top #para1 {
        /* border: 2px solid red; */
        padding: 50px 100px;
        font-size: 1.2vw;
        color: #ffffff;
        font-family: Merriweather;
    }

    .slider {
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        margin-top: 6vh;
        margin-bottom: 2vh;
    }

    .slider .slider_1 {
        display: inline-block;
        white-space: nowrap;
        animation-name: scroll;
        animation-duration: 21s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .slider h1 {
        display: inline-block;
        font-size: 80px;
        font-weight: 900;
        font-family: gilroy;
        margin-right: 15px;
        text-transform: uppercase;
        -webkit-text-stroke: 2px #95c11e;
        color: transparent;
    }

    .slider::-webkit-scrollbar {
        display: none;
    }

    .slider h1:hover {
        color: #95c11e;
        font-family: gilroy;
    }

    @keyframes scroll {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-100%);
        }
    }

    .page1 .bottom {
        margin-top: 10vh;
    }

    .page1 .bottom #scifiscience {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        padding: 10px 300px;
    }

    #imo_1 {
        width: 300px;
        height: 168px;
    }

    .bottom_imgs {
        /* background-color: red; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        margin-top: 7vh;
        margin-bottom: 10vh;
    }

    .bottom_imgs img {
        width: 253px;
        height: 168px;
    }

    .bottom .bottom_imgs a button {
        text-decoration: none;
        font-size: 1.5vw;
        color: #000;
        padding: 10px 20px;
        position: relative;
        right: 90%;
        top: 2vw;
        cursor: pointer;
        left: 5%;
    }

    .error_page {
        display: none;
    }

    .mobile {
        display: none;
    }

    .footers {
        width: 100%;
        min-height: 20rem;
        border-top: 2px solid white;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
    }

    .footers .left {
        /* background-color: red; */
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
    }

    .footers .left .elem1 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 20vw;
        height: 25vh;
        position: relative;
        left: 5vw;
        padding: 20px 20px;
        line-height: 4vh;
    }

    .footers .left .elem1 a {
        text-decoration: none;
        color: #000;
        font-weight: 700;
        font-family: gilroy;
        font-size: 1.5vw;
    }

    .footers .left .elem2 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 20vw;
        height: 25vh;
        position: relative;
        left: 5vw;
        padding: 20px 20px;
        line-height: 4vh;
    }

    .footers .left .elem2 a {
        text-decoration: none;
        color: #000;
        font-weight: 700;
        font-family: gilroy;
        font-size: 1.5vw;
    }

    .footers .left .elem3 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 20vw;
        height: 25vh;
        position: relative;
        left: 5vw;
        padding: 20px 20px;
        line-height: 4vh;
    }

    .footers .left .elem3 a {
        text-decoration: none;
        color: #000;
        font-weight: 700;
        font-family: gilroy;
        font-size: 1.5vw;
    }

    .footers .right {
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
        padding: 20px 20px;
        line-height: 7vh;
        position: relative;
        top: 3.5vh;
    }

    /* .footers .right  */
}

@media (min-width : 600px) and (max-width : 1000px) {
    .page_404 {
        padding: 40px 0;
        background: #fff;
        font-family: 'Arvo', serif;
    }

    .page_404 img {
        width: 100%;
    }

    .four_zero_four_bg {

        background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
        height: 400px;
        background-position: center;
    }


    .four_zero_four_bg h1 {
        font-size: 80px;
    }

    .four_zero_four_bg h3 {
        font-size: 80px;
    }

    .link_404 {
        color: #fff !important;
        padding: 10px 20px;
        background: #39ac31;
        margin: 20px 0;
        display: inline-block;
    }

    .contant_box_404 {
        margin-top: -50px;
    }

    .mobile {
        display: none;
    }

    .pc {
        display: none;
    }
}

/* Mobile Version */

@media (min-width : 200px) and (max-width : 600px) {
    .crsr {
        display: none;
    }

    .mobile .main {
        position: absolute;
        width: 100%;
        background-color: #ECECEC;
        overflow: hidden;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: #000;
        font-family: gilroy;
    }

    *::selection {
        background-color: #fff;
        color: #000;
    }

    html,
    body {
        width: 100%;
        height: 100%;
        background-color: #ECECEC;
    }

    .pc {
        display: none;
    }

    nav {
        width: 100%;
        height: 90px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(50, 50, 50, 0.51);
    }

    nav .name {
        /* background-color: cyan; */
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 5vw;
    }

    nav .name #logo_m {
        width: 40%;
        height: 100%;
        padding: 20px 20px;
    }

    nav .name #search {
        font-size: 3.7vw;
        color: #ECECEC;
        font-weight: 600;
        letter-spacing: 2.5px;
        border-radius: 20px;
        height: 30px;
        width: 100vw;
        margin-left: 1vw;
    }


    nav .name #search_icon {
        font-size: 5vw;
        color: #fff;
        font-weight: 800;
    }

    nav .menu {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 32px 2px;
    }

    nav .menu i {
        color: #000;
        font-weight: 700;
        font-size: 5vw;
        position: relative;
        right: 2.5vw;
        z-index: 99;
    }

    nav .menu #close {
        color: #000;
        font-weight: 700;
        font-size: 5vw;
        position: relative;
        right: 2.5vw;
        display: none;
        z-index: 99;
    }

    nav .profile {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 22px;
    }

    nav .profile img {
        width: 100%;
        height: 100%;
    }

    .mobile .menu .silding_menu {
        position: absolute;
        width: 70vw;
        min-height: 100vh;
        left: 0;
        top: 0;
        z-index: 1;
        background-color: #fff;
        padding: 100px 45px;
        line-height: 35px;
        display: none;
        transition-duration: 1s;
        transition-property: all;
        font-size: 5vw;
        font-family: Rubik ExtraBold;
        font-weight: 600;
        list-style: none;
    }

    .mobile nav .menu .silding_menu ul li a {
        color: #000;
        text-decoration: none;
    }

    .hero_m {
        width: 100%;
        min-height: 100vh;
        max-height: 200vh;
        color: white;
    }

    .hero_m .hero_main_top {
        width: 100%;
        height: 60vh;
        display: flex;  
        align-items: flex-start;
        flex-direction: column;
        color: #000;
        background-color: #ECECEC;
        text-align: left;
        position: relative;
        padding: 30px 30px;
    }

    .hero_m .hero_main_top #first_main {
        color: #000;
        font-family: gilroy;
        font-size: 10vw;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .hero_m .hero_main_top #cool {
        color: #10A37F;
        font-family: gilroy;
        font-size: 10vw;
        font-weight: 600;
    }

    .hero_m .hero_main_top #plai #platform {
        color: #10A37F;
        font-size: 10vw;
        font-weight: 600;
        font-family: gilroy;
    }

    .hero_m .hero_main_top #plai {
        color: #000;
        font-size: 10vw;
        font-weight: 600;
        font-family: gilroy;
    }

    .hero_m .hero_main_top #Ind {
        color: #000;
        font-size: 10vw;
        font-weight: 600;
        font-family: gilroy;
    }

    .hero_m .hero_main_top .quotes {
        width: 100%;
        height: 50vh;
        position: relative;
        top: 5vh;
        font-family: gilroy;
        font-size: 5vw;
        color: #8E8E8E;
    }

    .hero_m .hero_main_top .quotes #quo_1,#quo_2 {
        color: #8E8E8E;
    }

    .hero_m .hero_main_top a #explore_btn {
        background-color: #10A37F;
        color: #fff;
        font-family: gilroy;
        font-weight: 600;
        padding: 15px 29px;
        margin-top: 5vh;
        font-size: 5vw;
        border-radius: 7px;
        border: none;
    }

    .error_page {
        display: none;
    }
     .hero_m .content {
        width: 100%;
        min-height: 100vh;
        position: relative;
     }

     .hero_m .content .main_con {
        width: 100%;
        height: 100%;
     }

     .hero_m .content .main_con #game_level {
        color: #B2B2B2;
        font-size: 7vw;
        padding: 10px 15px;
     }

     .hero_m .content .main_con .courses {
        width: 100%;
        height: 37vh;
     }

     .hero_m .content .main_con .courses .courses_links {
        width: 90%;
        height: 100%;
        padding: 20px 20px;
        display: inline-block;
        white-space: nowrap;
     }

     .hero_m .content .main_con .courses .courses_links .w_conser {
        width: 100%;
        background-color: #d9d9d9;
        height: 100%;
        border-radius: 30px;
        border: .5px solid black;
        overflow: hidden;
        display: inline-block;
     }

     .hero_m .content .main_con .courses .courses_links .w_conser #img_wcon {
        width: 100%;
        height: 65%;

     }

     .hero_m .content .main_con .courses .courses_links .w_conser #content_p {
        font-size: 3.5vw;
        padding: 5px 2px;
     }

     .hero_m .content .main_con .courses .courses_links .w_conser a button {
        color: #000;
        font-family: gilroy;
        font-weight: 900;
        padding: 10px 29px;
        font-size: 4.5vw;
        border-radius: 7px;
        border: none;
        position: relative;
        left: 10vw;
        width: 30vw;
     }


}