@font-face {
    font-family: "Oswald Semi";
    src: url(./Oswald/static/Oswald-SemiBold.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}
video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.workingarea {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 350px;
    height: 425px;
    background-color: rgba(0, 255, 251, 0.193);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.form #head {
    font-size: 40px;
    position: relative;
    bottom: 25%;
    font-family: "Oswald Semi";
    margin-top: 50px;
}

.form #username {
    position: relative;
    font-size: 25px;
    bottom: 14%;
    right: 27%;
}

.form #in_1 {
    font-size: 22.5px;
    margin-top: 7px;
    margin-left: 20px;  
    width: 80%;
    position: relative;
    bottom: 13%;
    right: 5%;
    color: rgba(0, 0, 0, 0.731);
}

.form #pass {
    position: relative;
    font-size: 25px;
    bottom: 14%;
    right: 27%;
    margin-top: 1vw;
}

.form #in_2 {
    font-size: 22px;
    margin-top: 7px;
    margin-left: 20px;
    width: 80%;
    position: relative;
    bottom: 13%;
    right: 5%;
    font-weight: 700;
}

.form #btn_sign_up button {
    font-size: 22.5px;
    position: relative;
    left: 70%;
    bottom: 90%;
    cursor: pointer;
}