@font-face {
    font-family: Merriweather;
    src: url(./Merriweather-Bold.woff2);
}

@font-face {
    font-family: gilroy;
    src: url(./Gilroy-ExtraBold.woff2);
}

@font-face {
    font-family: Rubik ExtraBold;
    src: url(./Rubik-ExtraBold.woff2);
}

@font-face {
    font-family: Nosifer;
    src: url(./Nosifer-Regular.woff2);
}

@media (min-width : 900px) and (max-width : 1600px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: #000;
        font-family: gilroy;
    }

    *::selection {
        background-color: #fff;
        color: #000;
    }

    html,
    body {
        width: 100%;
        height: 100%;
    }

    /* PC Version */

    video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: fixed;
    }


    nav {
        /* background-color: red; */
        width: 100%;
        height: 11vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: #000; */
        font-size: 1.25vw;
        position: fixed;
        z-index: 99;
        color: #ffffff;
    }

    nav #logo {
        position: relative;
        width: 5vw;
        height: 100%;
        padding: 10px 7px;
    }

    nav a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: .9vw;
        color: white;
    }

    nav a i {
        border: 1px solid #313131;
        font-size: 1vw;
        font-weight: 900;
        color: white;
    }

    .search {
        width: 15vw;
    }

    .search input {
        color: rgb(56, 56, 56);
        font-size: 1vw;
        font-weight: 900;
    }

    .search i {
        border: none;
        color: #fff;
    }

    #last {
        margin-right: 20px;
    }

    #explorebtn:hover {
        scale: 1.01;
        background-color: rgb(4, 255, 42);
        font-weight: 900;
        font-family: Nosifer;
        font-size: 17px;
    }

    nav a:hover {
        border: 2px solid white;
        padding: 10px 20px;
        scale: 1.2;
        font-family: Nosifer;
    }


    .main {
        position: relative;
        background-color: rgba(0, 0, 0, 0.257);
    }

    .hero {
        height: 100vh;
        width: 100%;
        /* position: relative; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 200px;
        margin-bottom: 15vh;
    }

    .hero h1 {
        font-size: 4vw;
        text-transform: uppercase;
        padding: 0 150px;
        position: relative;
        font-weight: 900;
        -webkit-text-stroke: 2px black;
        font-family: Rubik ExtraBold;
        color: white;
    }

    .hero h2 {
        font-size: 4vw;
        text-transform: uppercase;
        padding: 0 150px;
        position: relative;
        font-weight: 900;
        -webkit-text-stroke: 2px black;
        font-family: Rubik ExtraBold;
        color: white;
    }

    .hero a button i {
        color: black;
        font-weight: 800;
    }

    .hero p {
        font-size: 1.54vw;
        color: #ffffff;
        font-family: Merriweather;
    }

    .page1 {
        width: 100%;
        min-height: 110vh;
        color: white;
        max-height: 100%;
    }

    .page1 .top {
        height: 40%;
        width: 100%;
        /* background-color: cyan; */
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 20vh;
    }

    .page1 .top #para1 {
        /* border: 2px solid red; */
        padding: 50px 100px;
        font-size: 1.2vw;
        color: #ffffff;
        font-family: Merriweather;
    }

    .slider {
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .slider .slider_1 {
        display: inline-block;
        white-space: nowrap;
        animation-name: scroll;
        animation-duration: 21s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .slider h1 {
        display: inline-block;
        font-size: 80px;
        font-weight: 900;
        font-family: gilroy;
        margin-right: 15px;
        text-transform: uppercase;
        -webkit-text-stroke: 2px #95c11e;
        color: transparent;
    }

    .slider::-webkit-scrollbar {
        display: none;
    }

    .slider h1:hover {
        color: #95c11e;
        font-family: gilroy;
    }

    @keyframes scroll {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-100%);
        }
    }

    .page1 .bottom #scifiscience {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        padding: 10px 300px;
    }

    #imo_1 {
        width: 300px;
        height: 168px;
    }

    .bottom_imgs {
        /* background-color: red; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .bottom_imgs img {
        width: 253px;
        height: 168px;
    }

    .bottom .bottom_imgs a button {
        text-decoration: none;
        font-size: 1.5vw;
        color: #000;
        padding: 10px 20px;
        position: relative;
        right: 90%;
        top: 2vw;
        cursor: pointer;
        left: 5%;
    }
}

/* Mobile Version */

@media (min-width : 200px) and (max-width : 600px) {
    .pc {
        display: none;
    }
    
    .main {
        position: relative;
        overflow: hidden;
    }

    nav {
        min-width: 100%;
        max-width: 100%;
        height: 9vh;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.692);
    }

    nav #logo_m {
        width: 20vw;
        height: 100%;
        margin-left: 2.5vw;
    }

    nav #menu_nav {
        font-size: 7vw;
        font-weight: 800;
        margin-right: 2.5vw;
        color: #fff;
    }

    nav #heading {
        font-family: Lobster;
        letter-spacing: 4px;
        font-size: 5vw; 
        color: #fff;
    }

    .hero_m {
        width: 100%;
        min-height: 90vh;
        max-height: 110vh;
        background-image: url(./mobile_images/hero_mobile.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}